body {
  background-color: #D9D9D9;
}

.r4s-header {
  padding: 16px 24px;
}

.header-pill {
  background-color: #002f3a;
  border-radius: 38px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  max-width: 500px;
  margin: 0 auto;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 80px;
    width: auto;
    max-width: 200px;
    object-fit: contain;
    border-radius: 50px;
}

/* Grupo de iconos a la derecha */
.header-icons {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 10px;
}

/* Icono de anuncios*/
.icon-ads img {
    height: 70px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    margin-top: 20px;
}
/* Icono de mensajes */

.icon-mensajes img {
    height: 60px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    margin-bottom: 5px;
}

/* Icono de perfil */
.icon-perfil img {
    height: 60px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    margin-top: 5px;
}

/* Interacciones */
.header-icons a { text-decoration: none; }
.header-icons a:hover { filter: brightness(1.05); }

@media (max-width: 768px) {
  .header-pill {
    height: 78px;
    padding: 0 18px;
  }
  .logo img {
    height: 40px; /* Logo más pequeño en móviles */
    max-width: 150px;
  }
  .icon-messages .msg-box { width: 100px; height: 48px; }
  .icon-profile .circle { width: 48px; height: 48px; border-width: 5px; }
}

@media (max-width: 480px) {
  .header-pill {
    height: 70px;
    padding: 0 12px;
  }
  .logo img {
    height: 35px; /* Logo aún más pequeño en pantallas muy pequeñas */
    max-width: 120px;
  }
  .header-icons {
    gap: 16px; /* Menos espacio entre iconos en móviles */
  }
}